#page_article_category {
  .grid {
    .item {
      margin-bottom: 50px;
    }
  }
}

.Pagination {
  width: 100%;

  .page-link--active {
    .page-link {
      background: #308891;
    }

  }

  .Pagination__arrow.disabled {
    display: none;
  }
}

#logoutForm {
  display: flex;
}

.alert {
  opacity: 1 !important;
}

.Form__label {
  position: relative;
}

#page_site_forgot-password {
  .User-Panel__form-group {
    grid-template-columns: 1fr;
  }
}

.help-block-error {
  color: red !important;
}

.Form__group {
  &.checkbox {
    .Form__label {
      font-weight: 300;
      color: #666;
      padding-left: 25px;
      position: relative;
      cursor: pointer;
    }
  }
}

.User-Panel__block__action {
  .fileinput-cancel-button {
    display: none;
  }

  .file-input {
    display: inline;
  }
}


.Section.Projects {
  .nav-tabs, .summary {
    display: none;
  }
}

.Card--single {
  margin-bottom: 45px;

  .Card__body {
    display: block;
  }
}

.Accordion {
  .collapse.in {
    display: block;
  }
}

.Select-custom__options__option a {
  color: white;
}