$PRIMARY: #0e2666;
$PRIMARY_HOVER: #273c76;
$PRIMARY_OPACITY: rgba(14, 38, 102, 0.8);
$PRIMARY_DARKEN: #0a1b48;
$PRIMARY_LIGHTEN: #e1e4eb;
$SECONDARY: #ef8354;
$SECONDARY_DARKEN: #b26446;
$SECONDARY_DARKEN_2: #91492d;
$FB: #3a5192;
$ACTIVE: #7cb342;
$INACTIVE: #e65100;

$COLOR_1: #fafafa;
$COLOR_2: #bfc0c0;
$COLOR_3: #ffffff;
$COLOR_4: #f1f4fa;
$COLOR_5: #4f5d75;
$COLOR_6: #6c788d;
$COLOR_7: #b7bed1;
$COLOR_8: #e6e9f0;
$COLOR_9: #fcfcfc;
$COLOR_10: #bcc1d3;
$COLOR_11: #8692b2;
$COLOR_12: #f5f5f5;
$COLOR_13: #9499b0;
$COLOR_14: #b6bdd1;
$COLOR_15: #dddcdf;
$COLOR_16: #ccd1de;

$COLOR_17: #d4d4d4;
$COLOR_18: #f7f7f7;
$COLOR_19: #6d6d6d;
$COLOR_20: #3d435b;

$TEXT_SHADOW: 1px 1px 0px #00000040;

$PATTERN_1: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAVSjEh8KQYGhmcwATAHJAkSgHNAAgBJbgMfurLMvgAAAABJRU5ErkJggg==";

$FONT: "Poppins", sans-serif;

$RADIUS: 3px;

$LG: 1200px;
$TABLET: 991px;
$MD: 768px;
$SM: 576px;
$XS: 480px;
