.Menu-top {
  --size: 40px;
  background: $COLOR-3;
  padding: 25px 0;
  position: relative;
  top: 0;
  z-index: 10;
  transition: all 0.2s ease;

  &__logo {
    transition: all 0.2s ease;
    max-width: 140px;
    height: auto;
    fill: $PRIMARY;
  }

  &--sticky {
    padding: 15px 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;

    .Menu-top__logo {
      max-width: 130px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 168px calc(100% - 348px) 70px 110px;
    align-items: center;
    position: relative;

    @media (max-width: $TABLET) {
      align-items: start;
      grid-template-columns: 1fr auto auto 40px;
      grid-column-gap: 20px;
    }

    &--active {
      @media (max-width: $TABLET) {
        grid-template-columns: 1fr auto auto auto 40px;
        grid-column-gap: 20px;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;

    @media (max-width: $TABLET) {
      display: none;
    }

    @media (min-width: $TABLET) {
      display: block !important;
    }

    li {
      display: inline-block;
      margin-left: 25px;

      @media (max-width: $LG) {
        margin-left: 10px;
      }

      @media (max-width: $TABLET) {
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__link {
    color: $PRIMARY;
    font-weight: 500;

    &:hover,
    &--active {
      color: $SECONDARY;
      position: relative;

      &:after {
        content: "";
        width: 50%;
        height: 1px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        background: $SECONDARY;
        margin-top: 10px;
      }
    }
  }

  &__toggle-btn {
    display: none;
    font-size: 1.4em;
    background: $PRIMARY_LIGHTEN;
    border-radius: $RADIUS;
    color: $PRIMARY;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    margin: 0 auto;
    text-align: center;

    @media (max-width: $TABLET) {
      display: block;
    }
  }

  &__search-btn {
    background: $PRIMARY_LIGHTEN;
    border-radius: $RADIUS;
    color: $PRIMARY;
    font-size: 1.2em;
    text-align: center;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    margin: 0 auto;
  }

  @media (max-width: $LG) {
    .container {
      max-width: 100%;
    }
  }

  @media (max-width: $TABLET) {
    --size: 36px;
  }
}

.Menu-top-wrapper {
  min-height: 94px;
}
