.Login-box {
  background: $COLOR-3;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
  position: relative;
  &__logo {
    max-width: 200px;
  }
  .Form__input {
    + label {
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      padding-left: 23px;
      pointer-events: none;
      line-height: 50px;
      font-weight: 400;
      color: $PRIMARY;
      font-size: 1.1rem;
    }
    &:focus,
    &:not(:placeholder-shown) {
      + label {
        font-size: 0.6rem;
        top: -16px;
      }
    }
  }
  &__close {
    color: $PRIMARY !important;
    font-size: 3em;
    width: 60px;
    height: auto;
    cursor: pointer;
    opacity: 1;
  }
  &__content {
    padding: 30px 50px;
  }
  &__heading {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 20px;
  }
  &__submit {
    margin-bottom: 15px;
  }
  &__footer {
    padding: 30px 60px;
    background: $COLOR-20;
    color: $COLOR-3;
    font-weight: 600;
    .btn {
      margin-top: 10px;
    }
  }
  .btn-fb {
    margin-top: 15px;
  }
}
