.Cookies {
  background: $PRIMARY;
  color: $COLOR_3;
  padding: 20px;
  z-index: 9;
  transition: all 1s ease;
  text-align: center;
  font-size: 14px;
  position: relative;
  border-bottom: 1px solid $PRIMARY_HOVER;

  p {
    margin: 0;
  }

  &__more-btn {
    color: $SECONDARY;
    text-decoration: underline;
    &:hover {
      color: $COLOR_3;
      text-decoration: underline;
    }
  }

  &__close-btn {
    color: $COLOR_3;
    position: absolute;
    top: 50%;
    right: 15px;
    line-height: 30px;
    text-decoration: none !important;
    font-size: 2em;
    font-weight: 200;
    transform: translate(0, -50%);

    &:hover {
      color: $COLOR_3;
    }
  }
  @media (max-width: $LG) {
    .container {
      max-width: 100%;
    }
  }
}
