.Projects {
  position: relative;
  background: $COLOR-4;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 92%,
      rgba(255, 255, 255, 1) 100%
    );
    z-index: 1;

    @media (max-width: $SM) {
      display: none;
    }
  }

  &--list {
    &:after {
      display: none;
    }
  }

  &--with-pagination {
    padding: 45px 0;
  }

  &__header {
    margin-top: 7px;
  }

  &__filter {
    .btn {
      margin-top: 0;
      margin-bottom: 10px;

    }
  }

  &__sortable {
    --gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--gap);
    grid-row-gap: var(--gap); 
    margin-top: 25px;

    @media (max-width: $LG) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $MD) {
      display: block;
    }
  }

  &__card {
    background: $COLOR-3;
    cursor: pointer;
    max-width: 455px;
    margin: 0 auto !important;

    @media (max-width: $MD) {
      margin-bottom: 15px !important;
    }

    &__image-wrapper {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #00000022;
        opacity: 0;
        transition: all 0.6s ease;
        pointer-events: none;
      }
    }

    &:hover {
      .Projects__card__image-wrapper {
        &::after {
          opacity: 1;
        }

        > img {
          transform: scale(1.1);
        }
      }
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &__header {
      padding: 15px 20px;
    }

    &__heading {
      color: $PRIMARY;
      font-size: 1.3em;
      font-weight: bold;
    }

    &__location {
      font-size: 1.1em;
      color: $PRIMARY;
      margin: 0;
    }

    &__image-wrapper {
      position: relative;
      overflow: hidden;

      img {
        max-width: 100%;
        width: 100%;
        transition: all 0.3s ease;
      }
    }

    &__country-flag {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    &__body {
      padding: 0 20px;
      padding-bottom: 20px;

      .btn {
        margin-top: 25px;
      }
    }

    &__text {
      font-size: 1em;
      color: $COLOR-5;
      margin-bottom: 20px;
    }
  }

  @include owlArrows($background: $PRIMARY, $color: $COLOR-1, $borderColor: $PRIMARY_DARKEN);

  @media (max-width: $SM) {
    @include owlArrows($background: $PRIMARY, $color: $COLOR-1, $borderColor: $PRIMARY_DARKEN, $offset: 0);

  }

}
