.Top-pane {
  background: $PRIMARY;
  color: $COLOR_1;

  .List-custom {
    a {
      color: $COLOR_1;
    }
  }

  .Social-icons {
    margin-top: 7px;
  }

  @media (max-width: $LG) {
    .container {
      max-width: 100%;
    }
  }

  @media (max-width: 699px) and (min-width: $SM) {
    .Social-icons {
      margin-bottom: 15px;
    }
  }
  @media (max-width: $MD) {
    .container {
      max-width: 100%;
    }
  }
  @media (max-width: $SM) {
    .Social-icons {
      margin-bottom: 15px;
      display: flex;
      margin-top: 10px;
      justify-content: flex-end;
    }
    .Select-custom {
      margin: 5px 0;
    }
  }
}
